{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Benshop!{% endblock %}

{% block content %}

    <div class="container login-form mt-5">
        <h1>Modifier mon mot de passe</h1>
        <a href="{{ path('app_account') }}" style="color: #5eb5e0">Retour à mon compte</a><br/>
        <div class="mt-5">
            {{ include('component/flash_message.html.twig') }}
        </div>
        <div class="form-login">
            <div class="form-row">
                {{ form_start(form) }}
                {{ form(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
