<!-- BRANDS -->
<section class="section brands">
    <div class="title">
        <h2>Acheter par marque</h2>
        <span>Choisissez parmi les marques de produits haut de gamme et économisez beaucoup d'argent.</span>
    </div>

    <div class="brand-layout container">
        <div class="glide" id="glide1">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <img src="{{ asset('images/brand1.png') }}" alt="">
                    </li>
                    <li class="glide__slide">
                        <img src="{{ asset('images/brand2.png') }}" alt="">
                    </li>
                    <li class="glide__slide">
                        <img src="{{ asset('images/brand3.png') }}" alt="">
                    </li>
                    <li class="glide__slide">
                        <img src="{{ asset('images/brand4.png') }}" alt="">
                    </li>
                    <li class="glide__slide">
                        <img src="{{ asset('images/brand5.png') }}" alt="">
                    </li>
                    <li class="glide__slide">
                        <img src="{{ asset('images/brand6.png') }}" alt="">
                    </li>
                    <li class="glide__slide">
                        <img src="{{ asset('images/brand7.png') }}" alt="">
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>