<!-- Navigation --->
<nav class="nav" xmlns="http://www.w3.org/1999/html">
    <div class="wrapper container">
        <div class="logo"><a href="{{ path('home') }}">Benshop</a></div>
        <ul class="nav-list">
            <div class="top">
                <label class="btn close-btn"><i class="fas fa-times"></i></label>
            </div>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('products') }}">Produits</a></li>
            {% if app.user %}
            <li><a href="{{ path('app_account') }}">Mon compte</a></li>
            {% endif %}
            <!-- icons -->
            <li class="icons cart-add">
              <span>
                   <a href="{{ path('cart') }}">
                        <img src="{{ asset('images/shoppingBag.svg') }}" alt=""/>
                    </a>
                  <!--<small class="count d-flex">0</small>-->
              </span>
                {% if app.user %}
                <span>
                    <a href="{{ path('app_logout') }}"><img src="{{ asset('images/log-out.png') }}" alt="" height="25" width="25"/></a>
                </span>
                {% else %}
                <span>
                    <a href="{{ path('app_login') }}"><img src="{{ asset('images/user.png') }}" alt="" height="25" width="25"/></a>
                </span>
                {% endif %}
            </li>
        </ul>
        <label for="" class="btn open-btn"><i class="fas fa-bars"></i></label>
    </div>
</nav>