<!-- Products -->
<section class="section products">
    <div class="title">
        <h2>Nouveaux produits</h2>
        <span>Choisissez parmi les marques de produits haut de gamme et économisez beaucoup d'argent.</span>
    </div>

    <div class="product-layout">
        <div class="product">
            <div class="img-container">
                <img src="{{ asset('images/product1.jpg') }}" alt="" />
                <a class="addCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <ul class="side-icons">
                    <span><i class="fas fa-search"></i></span>
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="fas fa-sliders-h"></i></span>
                </ul>
            </div>
            <div class="bottom">
                <a href="">Bambi Print Mini Backpack</a>
                <div class="price">
                    <span>$150</span>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="img-container">
                <img src="{{ asset('images/product2.jpg') }}" alt="" />
                <a class="addCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <ul class="side-icons">
                    <span><i class="fas fa-search"></i></span>
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="fas fa-sliders-h"></i></span>
                </ul>
            </div>
            <div class="bottom">
                <a href="">Bambi Print Mini Backpack</a>
                <div class="price">
                    <span>$150</span>
                    <span class="cancel">$160</span>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="img-container">
                <img src="{{ asset('images/product3.jpg') }}" alt="" />
                <a class="addCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <ul class="side-icons">
                    <span><i class="fas fa-search"></i></span>
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="fas fa-sliders-h"></i></span>
                </ul>
            </div>
            <div class="bottom">
                <a href="">Bambi Print Mini Backpack</a>
                <div class="price">
                    <span>$150</span>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="img-container">
                <img src="{{ asset('images/product4.jpg') }}" alt="" />
                <a class="addCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <ul class="side-icons">
                    <span><i class="fas fa-search"></i></span>
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="fas fa-sliders-h"></i></span>
                </ul>
            </div>
            <div class="bottom">
                <a href="">Bambi Print Mini Backpack</a>
                <div class="price">
                    <span>$150</span>
                    <span class="cancel">$160</span>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="img-container">
                <img src="{{ asset('images/product5.jpg') }}" alt="" />
                <a class="addCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <ul class="side-icons">
                    <span><i class="fas fa-search"></i></span>
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="fas fa-sliders-h"></i></span>
                </ul>
            </div>
            <div class="bottom">
                <a href="">Bambi Print Mini Backpack</a>
                <div class="price">
                    <span>$150</span>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="img-container">
                <img src="{{ asset('images/product6.jpg') }}" alt="" />
                <a class="addCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <ul class="side-icons">
                    <span><i class="fas fa-search"></i></span>
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="fas fa-sliders-h"></i></span>
                </ul>
            </div>
            <div class="bottom">
                <a href="">Bambi Print Mini Backpack</a>

                <div class="price">
                    <span>$150</span>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="img-container">
                <img src="{{ asset('images/product7.jpg') }}" alt="" />
                <a class="addCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <ul class="side-icons">
                    <span><i class="fas fa-search"></i></span>
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="fas fa-sliders-h"></i></span>
                </ul>
            </div>
            <div class="bottom">
                <a href="">Bambi Print Mini Backpack</a>

                <div class="price">
                    <span>$150</span>
                    <span class="cancel">$160</span>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="img-container">
                <img src="{{ asset('images/product8.jpg') }}" alt="" />
                <a class="addCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <ul class="side-icons">
                    <span><i class="fas fa-search"></i></span>
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="fas fa-sliders-h"></i></span>
                </ul>
            </div>
            <div class="bottom">
                <a href="">Bambi Print Mini Backpack</a>
                <div class="price">
                    <span>$150</span>
                    <span class="cancel">$160</span>
                </div>
            </div>
        </div>
    </div>
</section>