<!-- Promotion -->

<section class="section promotion">
    <div class="title">
        <h2>Collections de la boutique</h2>
        <span>Choisissez parmi les produits haut de gamme et économisez beaucoup d'argent</span>
    </div>

    <div class="promotion-layout container">
        <div class="promotion-item">
            <img src="{{ asset('images/promo1.jpg') }}" alt="" />
            <div class="promotion-content">
                <h3>POUR LES HOMMES</h3>
                <a href="">ACHETER MAINTENANT</a>
            </div>
        </div>

        <div class="promotion-item">
            <img src="{{ asset('images/promo2.jpg') }}" alt="" />
            <div class="promotion-content">
                <h3>CHAUSSURES DE LOISIRS</h3>
                <a href="">ACHETER MAINTENANT</a>
            </div>
        </div>

        <div class="promotion-item">
            <img src="{{ asset('images/promo3.jpg') }}" alt="" />
            <div class="promotion-content">
                <h3>POUR LES HOMMES</h3>
                <a href="">ACHETER MAINTENANT</a>
            </div>
        </div>

        <div class="promotion-item">
            <img src="{{ asset('images/promo4.jpg') }}" alt="" />
            <div class="promotion-content">
                <h3>CEINTURES EN CUIR</h3>
                <a href="">ACHETER MAINTENANT</a>
            </div>
        </div>

        <div class="promotion-item">
            <img src="{{ asset('images/promo5.jpg') }}" alt="" />
            <div class="promotion-content">
                <h3>SACS DESIGNER</h3>
                <a href="">ACHETER MAINTENANT</a>
            </div>
        </div>

        <div class="promotion-item">
            <img src="{{ asset('images/promo6.jpg') }}" alt="" />
            <div class="promotion-content">
                <h3>MONTRES</h3>
                <a href="">ACHETER MAINTENANT</a>
            </div>
        </div>
    </div>
</section>